

{% extends 'books/thinkjava/base.html' %}
{% block chaptercontent %}
<div class="row">
<div class="columns small-12">


      <div class="row">
        <div class="columns small-12"><h1 name="sec183" class="chapter">Appendix B  Java 2D graphics</h1>
<p>
<a name="graphics"></a></p><p><a name="hevea_default797"></a></p><p>The Java library includes a simple package for drawing 2D graphics, called <code>java.awt</code>.
<span style="font-weight:bold">AWT</span> stands for “Abstract Window Toolkit”.
We are only going to scratch the surface of graphics programming; you can read more about it in the Java tutorials at <a href="https://docs.oracle.com/javase/tutorial/2d/"><span style="font-family:monospace">https://docs.oracle.com/javase/tutorial/2d/</span></a>.</p>
<h2 name="sec184" class="section">B.1  Creating graphics</h2>
<p><a name="hevea_default798"></a>
<a name="hevea_default799"></a>
<a name="hevea_default800"></a>
<a name="hevea_default801"></a></p><p>There are several ways to create graphics in Java; the simplest way is to use <code>java.awt.Canvas</code> and <code>java.awt.Graphics</code>.
A <code>Canvas</code> is a blank rectangular area of the screen onto which the application can draw.
The <code>Graphics</code> class provides basic drawing methods such as <code>drawLine</code>, <code>drawRect</code>, and <code>drawString</code>.</p><p>Here is an example program that draws a circle using the <code>fillOval</code> method:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting"><span style="color:blue">import</span> java.awt.Canvas;
<span style="color:blue">import</span> java.awt.Graphics;
<span style="color:blue">import</span> javax.swing.JFrame;

<span style="color:blue">public class</span> Drawing <span style="color:blue">extends</span> Canvas {</td></tr>
</table><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting">    <span style="color:blue">public static void</span> main(String[] args) {
        JFrame frame = <span style="color:blue">new</span> JFrame(<span style="color:#B20000">"My Drawing"</span>);
        Canvas canvas = <span style="color:blue">new</span> Drawing();
        canvas.setSize(400, 400);
        frame.add(canvas);
        frame.pack();
        frame.setVisible(<span style="color:blue">true</span>);
    }

    <span style="color:blue">public void</span> paint(Graphics g) {
        g.fillOval(100, 100, 200, 200);
    }
}</td></tr>
</table><p>The <code>Drawing</code> class extends <code>Canvas</code>, so it has all the methods provided by <code>Canvas</code>, including <code>setSize</code>.
You can read about the other methods in the documentation, which you can find by doing a web search for “Java Canvas”.</p><p><a name="hevea_default802"></a>
<a name="hevea_default803"></a></p><p>In the <code>main</code> method, we:</p><ol class="enumerate" type="1"><li class="li-enumerate">Create a <code>JFrame</code> object, which is the window that will contain the canvas.</li><li class="li-enumerate">Create a <code>Drawing</code> object (which is the canvas), set its width and height, and add it to the frame.</li><li class="li-enumerate">Pack the frame (resize it) to fit the canvas, and display it on the screen.
</li></ol><p><a name="hevea_default804"></a></p><p>Once the frame is visible, the <code>paint</code> method is called whenever the canvas needs to be drawn; for example, when the window is moved or resized.
The application doesn’t end after the <code>main</code> method returns; instead, it waits for the <code>JFrame</code> to close.
If you run this code, you should see a black circle on a gray background.</p>
<h2 name="sec185" class="section">B.2  Graphics methods</h2>
<p><a name="hevea_default805"></a>
<a name="hevea_default806"></a></p><p>You are probably used to Cartesian <span style="font-weight:bold">coordinates</span>, where <span style="font-style:italic">x</span> and <span style="font-style:italic">y</span> values can be positive or negative.
In contrast, Java uses a coordinate system where the origin is in the upper-left corner.
That way, <span style="font-style:italic">x</span> and <span style="font-style:italic">y</span> are always positive integers.
Figure <a href="#fig.coordinates">B.1</a> shows these coordinate systems.</p><p>Graphical coordinates are measured in <span style="font-weight:bold">pixels</span>; each pixel corresponds to a dot on the screen.</p><blockquote class="figure"><div class="center"><hr style="width:80%;height:2"></a></div>
<div class="center">
<img src="thinkjava6038.png"/>
<div class="caption"><table style="border-spacing:6px;border-collapse:separate;" class="cellpading0"><tr><td style="vertical-align:top;text-align:left;">Figure B.1: Diagram of the difference between Cartesian coordinates and Java graphical coordinates.</td></tr>
</table></div>
<a name="fig.coordinates"></a>
</div>
<div class="center"><hr style="width:80%;height:2"/></div></blockquote><p>To draw on the canvas, you invoke methods on a <code>Graphics</code> object.
You don’t have to create the <code>Graphics</code> object; it gets created when you create the <code>Canvas</code>, and it gets passed as an argument to <code>paint</code>.</p><p>The previous example used <code>fillOval</code>, which has the following signature:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting"><span style="color:#007C00">/**
 * Fills an oval bounded by the specified rectangle with
 * the current color.
 */</span>
<span style="color:blue">public void</span> fillOval(<span style="color:blue">int</span> x, <span style="color:blue">int</span> y, <span style="color:blue">int</span> width, <span style="color:blue">int</span> height)</td></tr>
</table><p><a name="hevea_default807"></a></p><p>The four parameters specify a <span style="font-weight:bold">bounding box</span>, which is the rectangle in which the oval is drawn.
<code>x</code> and <code>y</code> specify the the location of the upper-left corner of the bounding box.
The bounding box itself is not drawn (see Figure <a href="#fig.circle">B.2</a>).</p><blockquote class="figure"><div class="center"><hr style="width:80%;height:2"></a></div>
<div class="center">
<img src="thinkjava6039.png"/>
<div class="caption"><table style="border-spacing:6px;border-collapse:separate;" class="cellpading0"><tr><td style="vertical-align:top;text-align:left;">Figure B.2: Diagram of an oval inside its bounding box.</td></tr>
</table></div>
<a name="fig.circle"></a>
</div>
<div class="center"><hr style="width:80%;height:2"/></div></blockquote><p><a name="hevea_default808"></a></p><p>To choose the color of a shape, invoke <code>setColor</code> on the <code>Graphics</code> object:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting">g.setColor(Color.red);</td></tr>
</table><p>The <code>setColor</code> method determines the color of everything that gets drawn afterward.
<code>Color.red</code> is a constant provided by the <code>Color</code> class; to use it you have to <code><span style="color:blue">import</span> java.awt.Color</code>.
Other colors include:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting">black       blue      cyan     darkGray   gray    green
lightGray   magenta   orange   pink       white   yellow</td></tr>
</table><p><a name="hevea_default809"></a></p><p>You can create your own colors by specifying the red, green, and blue (<span style="font-weight:bold">RGB</span>) components.
For example:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting">Color purple = <span style="color:blue">new</span> Color(128, 0, 128);</td></tr>
</table><p>Each value is an integer in the range 0 (darkest) to 255 (lightest).
The color <code>(0, 0, 0)</code> is black, and <code>(255, 255, 255)</code> is white.</p><p>You can set the background color of the <code>Canvas</code> by invoking <code>setBackground</code>:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting">canvas.setBackground(Color.white);</td></tr>
</table>
<h2 name="sec186" class="section">B.3  Example drawing</h2>
<p><a name="hevea_default810"></a></p><p>Suppose we want to draw a “Hidden Mickey”, which is an icon that represents Mickey Mouse (see <a href="https://en.wikipedia.org/wiki/Hidden_Mickey"><span style="font-family:monospace">https://en.wikipedia.org/wiki/Hidden_Mickey</span></a>).
We can use the oval we just drew as the face, and then add two ears.
To make the code more readable, let’s use <code>Rectangle</code> objects to represent bounding boxes.</p><p>Here’s a method that takes a <code>Rectangle</code> and invokes <code>fillOval</code>:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting"><span style="color:blue">public void</span> boxOval(Graphics g, Rectangle bb) {
    g.fillOval(bb.x, bb.y, bb.width, bb.height);
}</td></tr>
</table><p>And here’s a method that draws Mickey Mouse:</p><table class="lstframe" style="padding:1ex;background-color:#FAFAFA;"><tr><td class="lstlisting"><span style="color:blue">public void</span> mickey(Graphics g, Rectangle bb) {
    boxOval(g, bb);

    <span style="color:blue">int</span> dx = bb.width / 2;
    <span style="color:blue">int</span> dy = bb.height / 2;
    Rectangle half = <span style="color:blue">new</span> Rectangle(bb.x, bb.y, dx, dy);

    half.translate(-dx / 2, -dy / 2);
    boxOval(g, half);

    half.translate(dx * 2, 0);
    boxOval(g, half);
}</td></tr>
</table><p>The first line draws the face.
The next three lines create a smaller rectangle for the ears.
We <code>translate</code> the rectangle up and left for the first ear, then to the right for the second ear.
The result is shown in Figure <a href="#fig.mickey">B.3</a>.</p><blockquote class="figure"><div class="center"><hr style="width:80%;height:2"></a></div>
<div class="center">
<img src="thinkjava6040.png"/>
<div class="caption"><table style="border-spacing:6px;border-collapse:separate;" class="cellpading0"><tr><td style="vertical-align:top;text-align:left;">Figure B.3: A “Hidden Mickey” drawn using Java graphics.</td></tr>
</table></div>
<a name="fig.mickey"></a>
</div>
<div class="center"><hr style="width:80%;height:2"/></div></blockquote><p>You can read more about <code>Rectangle</code> and <code>translate</code> in Chapter <a href="/thinkjava/chapter10.html#objects">10</a>.
See the exercises at the end of this appendix for more example drawings.</p>
<h2 name="sec187" class="section">B.4  Vocabulary</h2>
<dl class="description"><dt class="dt-description"><span style="font-weight:bold">AWT:</span></dt><dd class="dd-description"><a name="hevea_default811"></a>
The “Abstract Window Toolkit”, a Java package for creating graphical user interfaces.</dd><dt class="dt-description"><span style="font-weight:bold">coordinate:</span></dt><dd class="dd-description"><a name="hevea_default812"></a>
A value that specifies a location in a two-dimensional graphical window.</dd><dt class="dt-description"><span style="font-weight:bold">pixel:</span></dt><dd class="dd-description"><a name="hevea_default813"></a>
The unit in which coordinates are measured.</dd><dt class="dt-description"><span style="font-weight:bold">bounding box:</span></dt><dd class="dd-description"><a name="hevea_default814"></a>
A common way to specify the coordinates of a rectangular area.</dd><dt class="dt-description"><span style="font-weight:bold">RGB:</span></dt><dd class="dd-description"><a name="hevea_default815"></a>
A color model based on adding red, green, and blue light.</dd></dl>
<h2 name="sec188" class="section">B.5  Exercises</h2>
<p>The code for this chapter is in the <span style="font-family:monospace">ap02</span> directory of <span style="font-family:monospace">ThinkJavaCode</span>.
See page <a href="/thinkjava/preface.html#code">??</a> for instructions on how to download the repository.
Before you start the exercises, we recommend that you compile and run the examples.</p><div class="theorem"><span style="font-weight:bold">Exercise 1</span>  <em>
Draw the flag of Japan: a red circle on a white background that is wider than it is tall.
</em></div><div class="theorem"><span style="font-weight:bold">Exercise 2</span>  <em>
Modify <span style="font-family:monospace">Mickey.java</span> to draw ears on the ears, and ears on those ears, and more ears all the way down until the smallest ears are only 3 pixels wide.</em><p><em>The result should look like “Mickey Moose”, shown in Figure </em><a href="#fig.moose"><em>B.4</em></a><em>.
</em>Hint:<em> You should only have to add or modify a few lines of code.</em></p><blockquote class="figure"><div class="center"><hr style="width:80%;height:2"/></div>
<div class="center"><em>
<img src="thinkjava6041.png"/>
</em><div class="caption"><table style="border-spacing:6px;border-collapse:separate;" class="cellpading0"><tr><td style="vertical-align:top;text-align:left;"><em>Figure B.4: A recursive shape we call “Mickey Moose”.</em></td></tr>
</table></div>
<a name="fig.moose"></a>
</div>
<div class="center"><hr style="width:80%;height:2"/></div></blockquote></div><div class="theorem"><span style="font-weight:bold">Exercise 3</span>  <em>
In this exercise, you will draw “Moiré patterns” that seem to shift around as you move.
For an explanation of what is going on, see </em><a href="https://en.wikipedia.org/wiki/Moire_pattern"><em><span style="font-family:monospace">https://en.wikipedia.org/wiki/Moire_pattern</span></em></a><em>.</em><ol class="enumerate" type="1"><li class="li-enumerate"><em>In the directory <span style="font-family:monospace">app02</span> in the repository for this book, you’ll find a file named <span style="font-family:monospace">Moire.java</span>.
Open it and read the <code>paint</code> method.
Draw a sketch of what you expect it to do.
Now run it.
Did you get what you expected?</em></li><li class="li-enumerate"><em>Modify the program so that the space between the circles is larger or smaller.
See what happens to the image.</em></li><li class="li-enumerate"><em>Modify the program so that the circles are drawn in the center of the screen and concentric, as in Figure </em><a href="#fig.moire"><em>B.5</em></a><em> (left).
The distance between the circles should be small enough that the Moiré interference is apparent.</em><blockquote class="figure"><div class="center"><hr style="width:80%;height:2"/></div>
<div class="center"><em>
<img src="thinkjava6042.png"/>
</em><div class="caption"><table style="border-spacing:6px;border-collapse:separate;" class="cellpading0"><tr><td style="vertical-align:top;text-align:left;"><em>Figure B.5: Graphical patterns that can exhibit Moiré interference.</em></td></tr>
</table></div>
<a name="fig.moire"></a>
</div>
<div class="center"><hr style="width:80%;height:2"/></div></blockquote></li><li class="li-enumerate"><em>Write a method named <code>radial</code> that draws a radial set of line segments as shown in Figure </em><a href="#fig.moire"><em>B.5</em></a><em> (right), but they should be close enough together to create a Moiré pattern.</em></li><li class="li-enumerate"><em>Just about any kind of graphical pattern can generate Moiré-like interference patterns.
Play around and see what you can create.</em></li></ol></div>
</div>
</div>

</div>

</div>
{% endblock %}

{% block toc %}
<li class="has-dropdown"><a href="/thinkjava/appendix-b.html">Java 2D graphics</a>
<ul class="dropdown">
<li><a href="/thinkjava/appendix-b.html#sec184">Creating graphics</a>
</li><li><a href="/thinkjava/appendix-b.html#sec185">Graphics methods</a>
</li><li><a href="/thinkjava/appendix-b.html#sec186">Example drawing</a>
</li><li><a href="/thinkjava/appendix-b.html#sec187">Vocabulary</a>
</li><li><a href="/thinkjava/appendix-b.html#sec188">Exercises</a>
</li></ul>
</li>
{% endblock %}

{% block title%}Java 2D graphics | Think Java | Trinket{% endblock %}
